<div class="row">
  <div class="col-md-9">
    <div class="RightContent DashboardContent jects-pdd">
      <div class="inspir-sec">
        <div class="cont-line-pdd">
          <div class="Descript-box">
            <h4 class="prefa-texts">Project title &amp; Description</h4>
            <button
              class="btn btn-fil-color edit-btn"
              [routerLink]="[
                '/user/project/edit1/' +
                  (projectId ? Btoa(projectId + '~edit') : '')
              ]"
            >
              <input type="file" id="file" />
              <label for="file1"><i class="fas fa-pencil-alt"></i></label>
            </button>
          </div>
          <div class="descript-title">
            <h5>Project title</h5>
            <p>
              {{ projectInformation?.title }}
            </p>
          </div>
          <div class="descript-title">
            <h5>Project Description</h5>
            <p>
              {{ projectInformation?.description }}
            </p>
          </div>
          <div class="descript-title">
            <h5>Style</h5>
            <p>
              {{ projectInformation?.style }}
            </p>
          </div>
          <div class="descript-title">
            <h5>Skills</h5>
            <p>
              {{
                getMultipleNameByValue(
                  projectInformation?.skills ? projectInformation?.skills : []
                )
              }}
            </p>
          </div>
          <div class="descript-title">
            <h5>Background</h5>
            <p>
              {{ projectInformation?.background }}
            </p>
          </div>
        </div>
        <div class="project-ass cont-line-pdd">
          <div class="Descript-box">
            <h4 class="prefa-texts">Project details</h4>
            <button
              class="btn btn-fil-color edit-btn"
              [routerLink]="[
                '/user/project/edit2/' +
                  (projectId ? Btoa(projectId + '~edit') : '')
              ]"
            >
              <input type="file" id="file" />
              <label for="file1"><i class="fas fa-pencil-alt"></i></label>
            </button>
          </div>
          <h4 class="detass-texts">Inspiration</h4>
          <div class="project-ins">
            <div
              class="ject-in"
              *ngFor="let image of projectInformation?.images"
            >
              <figure>
                <img src="{{ projectInformation?.image_pdf_path + image }}" />
              </figure>
              <!-- <a href="#"><i class="fas fa-times"></i></a> -->
            </div>
            <div class="ject-in" *ngFor="let pdf of projectInformation?.files">
              <pdf-viewer
                [src]="projectInformation?.image_pdf_path + pdf"
                [render-text]="true"
                [original-size]="false"
                [show-all]="false"
                [fit-to-page]="true"
              ></pdf-viewer>
              <!-- <a href="#"><i class="fas fa-times"></i></a> -->
            </div>
          </div>
          <div class="add-new">
            <ng-container *ngFor="let video of projectInformation?.video">
              <a href="{{ video.url }}" target="_blank">{{ video.url }}</a>
              <p>
                {{ video.description }}
              </p>
            </ng-container>
          </div>
          <div
            class="Descript-box"
            style="border-top: 1px solid #21212e; padding-top: 30px"
          >
            <h4 class="prefa-texts">Freelancer Requirements</h4>
            <button
              class="btn btn-fil-color edit-btn"
              [routerLink]="[
                '/user/project/edit3/' +
                  (projectId ? Btoa(projectId + '~edit') : '')
              ]"
            >
              <input type="file" id="file" />
              <label for="file1"><i class="fas fa-pencil-alt"></i></label>
            </button>
          </div>
          <div class="pen-descript">
            <div class="pay-in">
              <p>Freelancer type</p>
              <span>
                {{ freelancerType[projectInformation?.freelancer_type] }}</span
              >
            </div>
            <div class="pay-in">
              <p>Project type</p>
              <span>
                {{
                  projectInformation?.project_type
                    ? projectInformation?.project_type.name
                    : "NA"
                }}</span
              >
            </div>
            <div class="pay-in">
              <p>Genre</p>
              <span>{{
                getMultipleNameByValue(
                  projectInformation?.genere ? projectInformation?.genere : []
                )
              }}</span>
            </div>
            <div class="pay-in">
              <p>Industry</p>
              <span>{{
                getMultipleNameByValue(
                  projectInformation?.industry
                    ? projectInformation?.industry
                    : []
                )
              }}</span>
            </div>
          </div>
          <h4 class="detass-texts">Preferred Location</h4>
          <div class="pen-descript">
            <div class="pay-in">
              <p>Country</p>
              <span>{{ projectInformation?.country }}</span>
            </div>
            <div class="pay-in">
              <p>City</p>
              <span>{{ projectInformation?.city }}</span>
            </div>
            <div class="pay-in">
              <p>Zip code</p>
              <span>{{ projectInformation?.zipcode }}</span>
            </div>
          </div>
        </div>

        <div class="Descript-box">
          <h4 class="prefa-texts">Schedule and Budget</h4>
          <button
            class="btn btn-fil-color edit-btn"
            [routerLink]="[
              '/user/project/create4/' +
                (projectId ? Btoa(projectId + '~edit') : '')
            ]"
          >
            <input type="file" id="file" />
            <label for="file1"><i class="fas fa-pencil-alt"></i></label>
          </button>
        </div>
        <div class="pen-descript">
          <div class="pay-in">
            <p>Payment Type</p>
            <span>
              {{ paymentType[projectInformation?.payment_type] }}
            </span>
          </div>
          <div class="pay-in">
            <p>Amount</p>
            <span>{{
              projectInformation?.payment_type == 1
                ? projectInformation?.fixed_budget[0] +
                  "$-" +
                  projectInformation?.fixed_budget[1] +
                  "$"
                : projectInformation?.hourly_rate + "$"
            }}</span>
          </div>
          <div class="pay-in">
            <p>Start date</p>
            <span>{{
              projectInformation?.start_date | dateFormat: "DD-MM-YYYY"
            }}</span>
          </div>
          <div class="pay-in">
            <p>End date</p>
            <span>{{
              projectInformation?.end_date | dateFormat: "DD-MM-YYYY"
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="right-acknow">
      <h4 class="prefa-texts">ACKNOWLEDGE PROJECT</h4>
      <div class="form-group">
        <select type="Select" class="form-control">
          <option>Open</option>
          <option>Open</option>
        </select>
      </div>
      <ul>
        <li><a href="javascript:;">View offer status</a></li>
        <li>
          <a
            href="javascript:;"
            data-toggle="modal"
            data-target="#cancel-project"
            >Cancel a project</a
          >
        </li>
        <li>
          <a
            href="javascript:;"
            data-toggle="modal"
            data-target="#refund-request"
            >Refund request</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal Cancel a project -->
<div
  class="modal fade modal-comman"
  id="cancel-project"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel a project</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add-card-pdd">
          <div class="row">
            <div class="col-md-12">
              <div class="v-editor view_line">
                <div class="editor-sec">
                  <h4>Graphic Designer cum Video Editor</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                  </p>
                </div>
                <button class="btn btn-blue">View Project</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Reason Type</label>
                <select class="form-control">
                  <option>Choose reason</option>
                  <option>Choose reason</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 reson_hi">
              <div class="form-group">
                <label>Explain the reason</label>
                <textarea
                  type="text"
                  name=""
                  class="form-control"
                  placeholder="Choose reason"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="ct-linebt">
            <button class="btn btn-orange">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cancel a project -->
<!-- Modal Refund request -->
<div
  class="modal fade modal-comman"
  id="refund-request"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Refund request</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add-card-pdd">
          <div class="row">
            <div class="col-md-12">
              <div class="v-editor view_line">
                <div class="editor-sec">
                  <h4>Graphic Designer cum Video Editor</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                  </p>
                </div>
                <button class="btn btn-blue">View Project</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Reason Type</label>
                <select class="form-control">
                  <option>Choose reason</option>
                  <option>Choose reason</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 reson_hi">
              <div class="form-group">
                <label>Explain the reason</label>
                <textarea
                  type="text"
                  name=""
                  class="form-control"
                  placeholder="Choose reason"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="ct-linebt">
            <button class="btn btn-orange">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Refund request -->
