<!-- inner-wraper -->
<div class="inner-wraper inner-hmain-bg">
  <div class="container creat_pdd">
    <!-- my - project -->
    <div class="project-title"><h4>My Projects</h4></div>

    <div class="pro-filter-sec">
      <div class="filter-sec">
        <h5>Categories Filter</h5>
        <div class="filter-list">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="check-fl1"
            />
            <label class="custom-control-label" for="check-fl1">All</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="check-fl2"
            />
            <label class="custom-control-label" for="check-fl2"
              >New Invites</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="check-fl3"
            />
            <label class="custom-control-label" for="check-fl3"
              >Submitted Proposals</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="check-fl4"
            />
            <label class="custom-control-label" for="check-fl4"
              >In Progress</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="check-fl5"
            />
            <label class="custom-control-label" for="check-fl5"
              >Completed</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="check-fl7"
            />
            <label class="custom-control-label" for="check-fl7">Closed</label>
          </div>
        </div>
      </div>
      <div class="cum-list">
        <ul class="store-list">
          <li class="active">
            <div class="store_pdd">
              <h4>Video Editor Edit and store videos</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.<a
                  href="#"
                  >Read More
                </a>
              </p>
            </div>
            <div class="store_pdd">
              <span><i class="fas fa-donate"></i>Fixed Price - $1000</span>
              <span><i class="far fa-clock"></i> Posted 1 minute ago</span>
              <span><i class="fas fa-map-marker-alt"></i>India</span>
            </div>
          </li>
          <li>
            <div class="store_pdd">
              <h4>Video Editor Edit and store videos</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.<a
                  href="#"
                  >Read More
                </a>
              </p>
            </div>
            <div class="store_pdd">
              <span><i class="fas fa-donate"></i>Fixed Price - $1000</span>
              <span><i class="far fa-clock"></i> Posted 1 minute ago</span>
              <span><i class="fas fa-map-marker-alt"></i>India</span>
            </div>
          </li>
          <li>
            <div class="store_pdd">
              <h4>Video Editor Edit and store videos</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.<a
                  href="#"
                  >Read More
                </a>
              </p>
            </div>
            <div class="store_pdd">
              <span><i class="fas fa-donate"></i>Fixed Price - $1000</span>
              <span><i class="far fa-clock"></i> Posted 1 minute ago</span>
              <span><i class="fas fa-map-marker-alt"></i>India</span>
            </div>
          </li>
          <li>
            <div class="store_pdd">
              <h4>Video Editor Edit and store videos</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.<a
                  href="#"
                  >Read More
                </a>
              </p>
            </div>
            <div class="store_pdd">
              <span><i class="fas fa-donate"></i>Fixed Price - $1000</span>
              <span><i class="far fa-clock"></i> Posted 1 minute ago</span>
              <span><i class="fas fa-map-marker-alt"></i>India</span>
            </div>
          </li>
          <li>
            <div class="store_pdd">
              <h4>Video Editor Edit and store videos</h4>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.<a
                  href="#"
                  >Read More
                </a>
              </p>
            </div>
            <div class="store_pdd">
              <span><i class="fas fa-donate"></i>Fixed Price - $1000</span>
              <span><i class="far fa-clock"></i> Posted 1 minute ago</span>
              <span><i class="fas fa-map-marker-alt"></i>India</span>
            </div>
          </li>
        </ul>

        <!-- ------pagination-lists------ -->
        <div class="pagination-lists">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"
                    ><i class="fas fa-chevron-left"></i
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item active"><a class="page-link">5</a></li>
              <li class="page-item"><a class="page-link">6</a></li>
              <li class="page-item"><a class="page-link">7</a></li>
              <li class="page-item"><a class="page-link">...</a></li>
              <li class="page-item"><a class="page-link">11</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true"
                    ><i class="fas fa-chevron-right"></i
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- ------pagination-lists------ -->
      </div>
    </div>
    <!-- my - project -->
  </div>
</div>
<!-- inner-wraper -->
