.location-input{
    color: white;
    padding-left: 30px;
    min-width: 200px;
}

.title_content2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding-left: 18px;
    margin-bottom: 0px;
    padding-bottom: 5px
}

.share-icon:before {
    content: "\f1e0" !important;
}