                    <div class="SidemenuBox">
                        <nav class="nav-sidebar sidetextbox">
                          <ul class="nav">
                              <li><a href="javascript:;" [routerLink]="['/user/freelancer/set-up/welcome']" routerLinkActive="active">Welcome</a></li>
                              <li><a href="javascript:;" [routerLink]="['/user/freelancer/set-up/1']" routerLinkActive="active">Basic Details</a></li>
                              <li><a href="javascript:;" [routerLink]="['/user/freelancer/set-up/2']" routerLinkActive="active">Skills and Awards</a></li>
                              <li><a  href="javascript:;" [routerLink]="['/user/freelancer/set-up/3']" routerLinkActive="active">Expertise Level & Pricing</a></li>
                              <li><a href="javascript:;" [routerLink]="['/user/freelancer/set-up/4']" routerLinkActive="active">Add Recommendations</a></li>
                              <li><a href="javascript:;" [routerLink]="['/user/freelancer/set-up/5']" routerLinkActive="active">Add portfolio</a></li>
                         </ul>
                      </nav>
                    </div>