<div class="pay-decpdd">
  <article>
    <div class="article_in">
      <div class="pending-pdd">
        <figure><img src="assets/images/user-editor.png" /></figure>
        <h4>Lissa</h4>
      </div>
      <div class="pay-fix">
        <div class="d-flex">
          <div class="a-poid">
            <h5>description</h5>
            <p>Graphic Designer cum Video....</p>
          </div>
          <div class="a-poid">
            <h5>Amount</h5>
            <p>$1000</p>
          </div>
          <div class="a-poid">
            <h5>completion date</h5>
            <p>03/24/20</p>
          </div>
          <div class="a-poid">
            <h5>Payment status</h5>
            <p><button class="btn btn-accept">Approved</button></p>
          </div>
          <button class="btn btn-blue">View receipt</button>
        </div>
      </div>
    </div>
    <div class="article_in">
      <div class="pending-pdd">
        <figure><img src="assets/images/user-editor.png" /></figure>
        <h4>Lissa</h4>
      </div>
      <div class="pay-fix">
        <div class="d-flex">
          <div class="a-poid">
            <h5>description</h5>
            <p>Graphic Designer cum Video....</p>
          </div>
          <div class="a-poid">
            <h5>Amount</h5>
            <p>$1000</p>
          </div>
          <div class="a-poid">
            <h5>completion date</h5>
            <p>03/24/20</p>
          </div>
          <div class="a-poid">
            <h5>Payment status</h5>
            <p><button class="btn btn-accept paid_bt">Paid</button></p>
          </div>
          <button class="btn btn-blue">View receipt</button>
        </div>
      </div>
    </div>
  </article>
</div>
