<div class="process-form d-flex justify-content-center align-items-center">
  <div class="process-form-in">
    <div class="form-logo text-center">
      <a href="javascript:;" (click)="goToHome()">
        <img src="assets/images/logo.svg" />
      </a>
    </div>
    <div class="form-text text-center">
      <h4>Forgot your password?</h4>
      <p>Enter your email address to reset your password</p>
    </div>
    <div class="login-form">
      <form [formGroup]="formData" autocomplete="off">
        <div class="form-group">
          <input
            type="text"
            name=""
            class="form-control"
            placeholder="Email address"
            formControlName="email"
          />
          <div
            *ngIf="
              formData.controls['email'].invalid &&
              (formData.controls['email'].dirty ||
                formData.controls['email'].touched ||
                this.formSubmitAttempt)
            "
          >
            <span
              class="error text-danger"
              *ngIf="formData.controls['email'].errors.required"
              >Email is required</span
            >
            <span
              class="error text-danger"
              *ngIf="formData.controls['email'].errors.pattern"
              >Please enter valid email</span
            >
          </div>
        </div>
        <button class="btn btn-orange w-100" (click)="submit(formData.value)">
          Submit
        </button>
      </form>
      <div class="text-center signup-text">
        <p><a href="javascript:;" (click)="back()">Back to login</a></p>
      </div>
    </div>
  </div>
</div>
