<div class="inner-wraper inner-hmain-bg">
    <div class="container">
        <div class="main-title text-center">
            <h4>Notification</h4>
        </div>
        <div class="create-pdd90">
            <div class="main-dashboard">
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
                <div class="fication-box">
                    <p>A project that you submitted for, UI/UX designer, has been closed or has expired. Your <span>proposal</span> has been archived.</p>
                    <h6>March 20, 2020</h6>
                    <button class="btn btn-close-noti"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>


</div>