<div class="inner-wraper inner-hmain-bg">
  <div class="container">
    <div class="profile-setting d-flex">
      <app-profile-side-menu></app-profile-side-menu>
      <div class="pro-set-right ml-auto">
        <div class="pro-head-bar">
          <h4>Change password</h4>
        </div>
        <div class="pro-right-container row">
          <div class="col-md-6">
            <form
              class="form-horizontal"
              role="form"
              [formGroup]="formData"
              (ngSubmit)="onClickSubmit(formData.value)"
            >
              <div class="form-group">
                <label>Old password</label>
                <input
                  class="form-control"
                  type="password"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter old password"
                  formControlName="oldpassword"
                  maxlength="55"
                  autofocus
                />
                <span
                  class="glyphicon glyphicon-envelope form-control-feedback"
                ></span>

                <div
                  *ngIf="
                    formData.controls['oldpassword'].invalid &&
                    (formData.controls['oldpassword'].dirty ||
                      formData.controls['oldpassword'].touched ||
                      this.formSubmitAttempt)
                  "
                >
                  <span
                    *ngIf="formData.controls['oldpassword'].errors.required"
                    style="color: red"
                  >
                    Old password is required.
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label>New password</label>
                <input
                  class="form-control"
                  type="password"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter new password"
                  autofocus
                  formControlName="password"
                  maxlength="55"
                />
                <span
                  class="glyphicon glyphicon-envelope form-control-feedback"
                ></span>
                <div
                  *ngIf="
                    formData.controls['password'].invalid &&
                    (formData.controls['password'].dirty ||
                      formData.controls['password'].touched ||
                      this.formSubmitAttempt)
                  "
                >
                  <span
                    *ngIf="formData.controls['password'].errors.required"
                    style="color: red"
                  >
                    New password is required.
                  </span>
                  <span
                    *ngIf="formData.controls['password'].errors.minlength"
                    style="color: red"
                  >
                    Please enter password between 8 and 12 characters long.
                  </span>
                  <span
                    *ngIf="formData.controls['password'].errors.maxlength"
                    style="color: red"
                  >
                    Please enter password between 8 and 12 characters long.
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm password</label>
                <input
                  class="form-control"
                  type="password"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter confirm password"
                  formControlName="confirmPassword"
                />
                <span
                  class="glyphicon glyphicon-envelope form-control-feedback"
                ></span>
                <div
                  *ngIf="
                    !formData.controls['password'].untouched ||
                    this.formSubmitAttempt ||
                    !formData.controls['confirmPassword'].untouched
                  "
                >
                  <span
                    *ngIf="
                      formData.controls['confirmPassword'].errors &&
                      formData.controls['confirmPassword'].errors.required
                    "
                    style="color: red"
                  >
                    Confirm password id required.
                  </span>
                </div>
                <span
                  *ngIf="
                    !(
                      formData.controls['confirmPassword'].errors &&
                      formData.controls['confirmPassword'].errors.required
                    ) &&
                    formData.errors &&
                    formData.errors != null &&
                    formData.errors.passwordsNotEqual
                  "
                  style="color: red"
                >
                  Password and password confirmation must match
                </span>
              </div>
              <button type="submit" class="btn btn-orange">UPDATE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
