<div class="inner-wraper inner-hmain-bg">
  <div class="container">
    <!-- Inner wraper -->
    <div class="dash-main-pdd">
      <div class="regist-sec">
        <div class="regist_pdd">
          <figure>
            <img src="assets/images/thanks-hand.png" (click)="goToHome()" />
          </figure>
          <h2>Thank you for registering!</h2>
          <p>Check your email for the Account Verification link.</p>
          <!-- <button
            href="javascript:;"
            class="btn btn-orange"
            (click)="navigate()"
          >
            Verify Account
          </button> -->
        </div>
      </div>
    </div>
    <!-- Inner wraper -->
  </div>
</div>
