@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;700;800&display=swap');

.angular-editor .angular-editor-wrapper .angular-editor-textarea{ background-color: lightgray !import }
*{margin:0; padding:0; box-sizing:border-box;}
body{ background: #000; margin:0; padding:0; box-sizing:border-box;font-family: 'Montserrat', sans-serif;overflow-x: hidden;font-size: 14px;}
a{-webkit-transition: 0.5s ease-out; -moz-transition:0.5s ease-out; -o-transition: 0.5s ease-out; transition:0.5s ease-out;}
ul{margin:0; padding:0; list-style:none;}
img{max-width:100%;}
.site_content{display:block; padding-top:89px;}
.site_content:after,.site_content:before{display:table; clear:both; content:"";}
header,footer,section{display:block;}
header:after,header:before,footer:after,footer:before,section:after,section:before{display:table; clear:both; content:"";}
.container-fluid{ margin: 0px auto;width: 100%;padding: 0px 6vw;}
.container { max-width: 1300px;padding: 0; }
.container:after,.container:before{display:table; clear:both; content:"";}
[type="radio"]:checked,
[type="radio"]:not(:checked){position: absolute; left: -9999px;}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label{position:relative; padding-left:28px; cursor:pointer;
line-height: 20px; display: inline-block; color: #666;}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {content: ''; position: absolute; left: 0; top: 0; width: 18px; height: 18px;
border: 1px solid #ddd; border-radius: 100%; background: #fff;}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after{content: ''; width: 12px; height: 12px; position: absolute;
top:3px; left:3px; border-radius: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
[type="radio"]:not(:checked) + label:after {opacity: 0; -webkit-transform: scale(0); transform: scale(0);}
[type="radio"]:checked + label:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
a:focus{border:none; outline:none;}
button:focus{border:none; outline:none;}
select{appearance:none;}

@font-face {
    font-family: 'arial-bold';
    src: url('../fonts/arialbd.eot');
    src: local('☺'), url('../fonts/arialbd.woff') format('woff'), url('../fonts/arialbd.ttf') format('truetype'), url('../fonts/arialbd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


header { transition: 0.3s ease-in-out; position: fixed;top: 0;left: 0;width: 100%;border-bottom: 1px solid rgba(255,255,255,0.1); padding: 20px 0px;z-index: 11; }
body.fixed header { background: #000;padding: 10px 0px; }
header .navbar-brand img { width: 180px; }
header .navbar { padding: 0; }
header .nav-link { color: #fff;font-size: 14px;font-weight: 500;position: relative; }
header .nav-link:after { content: ""; width: 10px;height: 10px;background: #f79622;position: absolute;left: 45%;bottom: -32px;opacity: 0;transition: 0.3s ease-in-out;}
header .nav-link:hover:after  { opacity: 1; }
body.fixed  header .nav-link:after { bottom: -22px; }
.btn { height: 40px;color: #fff;font-size: 14px;margin: 0px;border: none;line-height: 40px;padding: 0px 24px;box-shadow: none !important;transition: 0.3s ease-in-out;font-weight: 600; }
.btn-orange { background: #ef4036;color: #fff !important; }
.btn-orange:hover { box-shadow: 0px 2px 12px rgba(239, 64, 54, 0.5) !important; }
.banner-home { position: relative; display: flex;align-items: center;justify-content: right; height:100vh;background:url(../images/banner.jpg) no-repeat;background-size: cover;background-position: left top; }
.banner-content { width: 45%;margin-top: 60px; }
.banner-content h1 { color: #fff;font-size:50px;font-family: 'Poppins', sans-serif;font-weight: 400; }
.banner-content h1 b { font-size: 55px;color: #f5911b;font-weight: 700; }
.banner-content p { color: #fff;font-size: 20px;font-weight: 500;max-width: 550px; }
.home-input { margin-top: 50px; }
.home-input input { font-size: 16px;font-weight: 600;padding: 15px; border-radius: 5px;height: 50px;min-width: 550px;border: none;background-image: linear-gradient(to bottom,#f5911b 0,#ef4036 100%); }
.home-input h4 { font-size: 26px;color: #fff; }
.home-input input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.home-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

.home-input input::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}
.video-paly-home { position: absolute;bottom: 80px;left: 6vw;align-items: center;cursor: pointer; }
.video-paly-home img { width: 70px; }
.video-paly-home figure { margin-bottom: 0;margin-right: 15px; }
.video-paly-home h4 { color: #fff;font-size: 18px;font-weight: 600;margin-bottom: 0 }
.heading-title { margin-bottom: 50px; }
.heading-title h4 { font-family: 'arial-bold';font-size: 45px;color: #fff; }
.heading-title p { font-size: 18px;color: #fff;font-weight: 500; }
.section-padding { padding: 90px 0px; }
.partner-logo-in .row { background-color: rgb(0, 0, 0);box-shadow: 0px 18px 40px 0px rgba(31, 31, 31, 0.42);margin: 0px !important;border:1px solid #1f1f1f;border-bottom: 0;border-right: 0; }
.partner-logo-in .row .col-md-2 { height: 150px; padding: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;border-bottom:1px solid #1f1f1f;border-right:1px solid #1f1f1f;display: flex;align-items: center;justify-content: center; }
.partner-logo-in .row .col-md-2 figure { margin: 0; }
.big-heading-title h4 { font-size: 50px; }
.search-on-list { padding-right: 6vw; }
.search-on-list li { cursor: pointer; z-index: 1; transition: 0.3s ease-in-out;border-radius: 15px;min-height: 120px;margin-bottom: 30px;padding: 30px;display: flex;align-items: center;color: #fff;background-image: linear-gradient(to right, #24243c 0%, #24243c 51%, #24243c 100%);overflow: hidden;position: relative;  }
.search-on-list li h4 { font-size: 20px;margin-bottom: 0; }
.search-on-list li:after,.diverse-box .col-md-4 a:after { transition: 0.4s ease-in-out;content: "";width: 100%;height: 0%;background-image: linear-gradient(to top right,#0035ff -20%,#8400ff 100%);position: absolute;bottom: 0;left: 0;z-index: -1 }
.search-on-list li:last-child { margin-bottom: 0; }
.search-on-list li:hover:after,.diverse-box .col-md-4 a:hover:after { height: 100% } 
.three-ways { z-index: 1; background-image: linear-gradient(to bottom,#000 0%, #1a1a2d 100%);position: relative; }
.three-ways:after { background: url(../images/round.svg) no-repeat;background-position: center;width: 100%;height: 100%;content: "";position: absolute;top:0;left: 0;background-size: 40%;z-index: -1;opacity: 0.2; }
.post-job-home { background-image: linear-gradient(to bottom,#1a1a2d 0%, #000 85%);padding-bottom: 100px; }
.post-job-home-in figure { border-radius: 10px;overflow: hidden;border:5px solid rgb(38, 38, 60);box-shadow: 0px 12px 57px 0px rgba(6, 6, 6, 0.004); }
.post-job-home-in figure  img { width: 100%; }
.diverse-experience,.remote-creatives { background: #0f0f1a; }
.diverse-box .col-md-4 a { transition: 0.3s ease-in-out; z-index: 1; position: relative; text-decoration: none; display: block;background: #03081a;border-top:2px solid #db8319;text-align: center;padding: 40px 20px;margin:15px 0px;color: #fff; }
.diverse-box .col-md-4 a h4 { font-size: 22px;font-weight: 600;text-transform: uppercase; }
.diverse-box .col-md-4 a img { width: 80px; }
.diverse-box .col-md-4 a figure { margin: 30px 0px; }
.diverse-box .col-md-4 a p { font-size: 16px;margin-bottom: 0 }
.remote-creatives-list figure { width: 100px;height: 100px;border-radius: 5px;background: #1b1b2d;padding: 20px;min-width: 100px;margin-bottom: 0; }
.remote-creatives-list  figcaption { width: 100%;padding-left: 30px;color: #fff; }
.remote-creatives-list  figcaption h5 { font-weight: 600;font-size: 22px;margin-bottom: 0; }
.remote-creatives-list  figcaption p { font-weight: 500;font-size: 16px;margin-bottom: 0 }
.remote-creatives-list li { padding-bottom: 25px;margin-bottom: 25px;border-bottom: 1px solid #1b1b2d; }
.remote-creatives-list li:last-child { padding-bottom: 0;margin-bottom: 0;border-bottom: 0px; }
.remote-creatives-list li .divider { width: 40px;height: 6px;margin: 12px 0px; }
.remote-creatives-list li:nth-child(1) .divider { background: #f5911b; }
.remote-creatives-list li:nth-child(2) .divider { background: #ef4034; }
.remote-creatives-list li:nth-child(3) .divider { background: #0033fc; }
.remote-creatives .heading-title h4 font { color: #f5911b; }
.remote-creatives .heading-title h4 { margin-bottom: 30px; }
.remote-creatives { padding-bottom: 100px; }
.testimonial { background: #18182b;padding-top: 100px; }
.testimonial .heading-title p { max-width: 700px;margin-left: auto;margin-right: auto; }
.testimonial-tabs .nav-tabs { border:none;padding: 0px 80px;display: flex;margin-top: 20px; }
.testimonial-tabs .nav-tabs  li { -ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;padding: 0px 15px;text-align: center; }
.testimonial-tabs  .nav-tabs .nav-link { background: none;padding: 0;border: none; }
.testimonial-tabs { background: #000; }
.testimonial-tabs  .nav-tabs .nav-link:hover span { color: #fff; }
.testimonial-tabs  .nav-tabs .nav-link:hover figure img { opacity: 0.6; }
.testimonial-tabs  .nav-tabs .nav-link figure { height: 220px;overflow: hidden;position: relative; }
.testimonial-tabs  .nav-tabs .nav-link figure:after { content: ""; height: 7px;width: 100%;position: absolute;bottom: 0;left: 0; }
.testimonial-tabs  .nav-tabs .nav-link figure img { object-position: center;object-fit: cover;width: 100%;height: 100%;opacity: 0.4 }
.testimonial-tabs  .nav-tabs .nav-link span { text-transform: uppercase;font-size: 16px;color: #6b6b6b;font-weight: 600; }
.testimonial-tabs  .nav-tabs .nav-link.active span { color: #ef4034; }
.testimonial-tabs  .nav-tabs .nav-link.active figure:after { background: #ef4034; }
.testimonial-tabs  .nav-tabs .nav-link.active figure img { opacity: 1; }
.testimonial-img figure { overflow: hidden;width: 100%;position: relative;z-index: 1; }
.testimonial-img figure img { width: 100%;height: 100%;object-fit: cover;object-position: center; }
.testimonial-img { position: relative;width: 320px;height: 400px;padding-left: 10px;padding-top: 10px; }
.testimonial-img:after { content: "";position: absolute;top: -10px;left: -10px;width: 100%;height: 100%;background: #ef4034; }
.testi-commnet { margin-top: 100px;position: relative; }
.testi-commnet:after { content: "";width: 90px;height: 90px;background: url(../images/quote.svg) no-repeat;position: absolute;top: -100px;left: 0;background-position: center;background-size: 100%; }
.testi-commnet h5 { color: #ef4034;font-size: 26px;font-family: "arial-bold"; }
.testi-commnet p { font-size: 16px;color: #fff;font-weight: 500; }
.testi-user { margin-top: 40px; }
.testi-user figure { margin: 0;width: 70px;height: 70px;overflow: hidden;border-radius: 50%;min-width: 70px; }
.testi-user figcaption { padding-left: 20px; }
.testi-user figcaption h6 { font-size: 18px;font-weight: 600;text-transform: uppercase;color: #fff;margin-top:8px; }
.testi-user figcaption span { color: #ef4034;font-weight: 500;font-style: italic; }
.testi-right article { padding-right: 12vw; }
.testimonial-in { margin-bottom: 50px; }
.testimonial-in .owl-nav { position: absolute;top: 0;right: 0;height: 100%; display: flex;align-items: center;justify-content: center;width: 45px;flex-flow: column; }
.testimonial-in .owl-nav > div { display: block; width: 45px;height: 45px;background: url(../images/down-arrow.svg) #0035ff no-repeat; background-position: center;background-size: 15px;margin: 2px 0px;color: transparent;}
.testimonial-in .owl-carousel { padding-right: 50px; }
.testimonial-in .owl-nav > div:hover { background-color: #ef4034; }
.testimonial-in .owl-prev { transform: rotate(180deg); }
.team-slider .owl-stage { display: flex; align-items: center;padding: 100px 0;}
.team-slider .owl-item  { text-align: center;transition: 0.3s ease-in-out; }
.team-slider .owl-item p,.team-slider .owl-item span { opacity: 0; transition: 0.3s ease-in-out; }
.team-slider .owl-item.active.center p,.team-slider .owl-item.active.center span { opacity: 1; }
.team-review { position: relative; text-align: center;color: #fff;font-size: 18px; width: 600px;margin: 0px auto;}
.team-review {  }
.team-slider .owl-item figure { width: 80px;height: 80px;overflow: hidden; border-radius: 100%;margin: 0px auto;transition: 0.3s ease-in-out;margin-bottom: 0px;}
.team-slider .owl-item.active.center  { transform: scale(2.2); background:url(../images/shape.png) no-repeat; background-position:top center;background-size: 80%; }
.team-slider .owl-item img { object-position: center;object-fit: cover;width: 100%; height: 100%; }
.team-slider .owl-item h4 { font-size: 14px; color: #ffffff;margin-bottom: 2px; }
.team-slider .owl-item p { font-size: 8px; color: #f5911b;margin-bottom: 0px; }
.team-slider .owl-item span { font-size: 7px; color: #fff;margin-bottom: 0px; }
.team-slider .owl-item.active.center  h4 { font-size: 9px; }
.img-border { display: flex;align-items: center;justify-content: center; width: 100px;height: 100px;border-radius: 50%;margin: 0px auto;background:url(../images/border.png) no-repeat;background-size: 100%; }
footer {/*background-color: #090918;*/background:url(../images/footer.svg), url(../images/logo-trans.png) #090918;background-position: top, left bottom;background-repeat: no-repeat; background-size: 100%, auto; position: relative; }
/*.footer:after { position:  }*/
.footer-main { padding: 100px 0px; }
.foot-last-copy { color: #585871;text-align: center;padding: 15px;background:#060612; }
.foot-details img { width: 180px;margin-bottom: 15px; }
.foot-details p { color: #fff;font-weight: 300; }
.footer-head { font-size: 20px;color: #fff;font-weight: 600;position: relative;padding-bottom: 20px;margin-bottom: 20px; }
.footer-head:after { content: "";position: absolute;bottom: 0;left: 0;width: 30px;height: 5px;background-color: #ef4034; } 
.footer-link li { color: #fff;position: relative; }
.footer-link li:after { content: "";width: 10px;height: 10px;background: url(../images/bullet.svg) no-repeat;background-size: 100%;position: absolute;top: 10px;left: 15px; }
.footer-link li a { padding: 5px 0px;display: block;padding-left: 30px;color: #fff; }
.footer-main .footer-menu-btm { padding-left: 60px; }
.footer-social li a { color: #fff;padding: 5px 0px;display: block; }
.footer-social li a i { width: 30px;color: #f79622; }
.team-slider .owl-nav  { text-align: center;margin-top: 30px; }
.team-slider .owl-nav > div { transform: rotate(90deg); display: inline-block;width: 45px;height: 45px;background: url(../images/down-arrow.svg) #0035ff no-repeat;background-position-x: 0%;background-position-y: 0%;background-size: auto;background-position: center;background-size: 15px;margin: 0px 5px;color: transparent; }
.team-slider .owl-nav > div:last-child { transform: rotate(-90deg); }
.team-slider .owl-nav > div:hover { background-color: #ef4034; }

.process-form { background: url(../images/bg.jpg) no-repeat fixed;background-position: center;height: 100vh;overflow-y: auto;background-size: cover;background-position: center; }
.form-logo img { width: 200px; }
.process-form-in { width: 500px;background-color: rgba(0,0,0,0.7);padding: 45px;border-radius: 10px; }
.form-text { color: #fff;margin: 25px 0px; }
.form-text h4 { font-size: 26px;margin-bottom: 5px; }
.form-text p { font-size: 16px; }
.form-group .form-control { background: #16161a;border-color: #252833;height: 42px;font-size: 14px;color: #fff; }
.form-control:focus { box-shadow: 0 0 0 1px rgb(248, 149, 34); }
.remember-forgot { margin-bottom: 15px; }
.remember-forgot,.remember-forgot a { color: #fff;font-weight: 500; }
.remember-forgot .custom-control {padding-left: 1.5rem;}
.signup-text { margin-top: 30px; }
.signup-text p { margin-bottom: 0;color: #fff;font-size: 16px;color: #9a9fa9; }
.signup-text p a { color: #ef4036;font-weight: 600; }
.btn-gry{background: #2d2d35;color: #fff;}
.btn-gry:hover{color: #fff;}

/* .login-form */ select{color: #6c757d !important;font-weight: 400 !important;font-size: 14px !important;height: 42px !important;
    background: url("../images/down-arrow-s.svg") #16161a !important;background-repeat: repeat !important;background-size: auto !important;
    background-position: 98% !important;background-size: 12px !important;background-repeat: no-repeat !important;-moz-appearance: none;}
.login-form .form-group .info-boxs{display: flex; justify-content: space-between; align-items: center;}
.login-form .form-group .info-boxs a{font-size: 30px;color: #c2c7d1;padding-left: 13px;}
.login-form .form-group textarea{height: 100px;}
.sigup-btt-sec{display:flex; justify-content: space-between;}
.btn-yellow{background: #f79622;color: #fff;}
.btn-yellow:hover{background: #f79622;color: #fff;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {background-image: none !important;
 background: #ef4036;background-image: none;border: 3px solid #fff;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {background-color: #ef4036;border: none;}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {width: 16px;
height: 16px;background-image: none !important;background: #ef4036;background-image: none;border: 3px solid #02030d;}
.radio-sec .custom-control-label {font-size: 16px;font-weight: 500;color: #6b6b6b;padding-left: 10px;padding-top: 3px;}
.radio-sec{padding-bottom: 30px;padding-top: 20px;}
.custom-control{padding-left: 0px;padding-right: 15px;}
[type="radio"]:checked + label::before, [type="radio"]:not(:checked) + label::before {width: 22px;
height: 22px;border: 2px solid #88898e;background: transparent;}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {padding-left: 35px;line-height: 18px;color: #6b6b6b;}
.sigup-btt-sec .btn{padding: 0px 40px;}

/* ....Create-project-step1 /-/ start.... */
.inner-nav-pg header .nav-link{border-bottom: 2px solid #6f768c;}
.inner-nav-pg header .nav-link:hover{width: 100%;border-bottom: 2px solid #f79622;}
.inner-nav-pg .navbar-expand-lg .navbar-nav .nav-item{padding:0px 15px;}
.inner-nav-pg .navbar-expand-lg .navbar-nav .nav-link{padding-right: 0px;padding-left: 0px;}
.inner-nav-pgheader .navbar-nav .nav-item{padding:0px 15px;}
.inner-nav-pg header .nav-link:hover:after  { opacity: 0 !important;}
.noti-msg{width: 388px;box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.96);border-radius: 4px;border: 2px solid #121420; background: #000;margin-top: 15px;padding-bottom: 0;}
.noti-in { display: flex;flex-direction: column;}
.noti-in ul.loader-up { height: 350px;overflow: auto; }
.noti-msg li a{color: #fff; font-size: 14px; font-weight: 400; padding:15px 20px;display: block;text-decoration: none;}
.noti-msg li a span{color: #f5911b;}
.noti-msg li{border-bottom: 1px solid #121420;padding-right: 35px;position: relative;}
.btn-close-noti{width: 33px;min-width: 33px;padding: 0px;height: 33px;border-radius: 50%;box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.79) !important;
 display: flex;justify-content: center;align-items: center;color: #fff;background: #1c1f2f;position: absolute;top: 10px;right: 10px;}
.btn-close-noti:hover{color: #fff;}
.loader-topbar a{font-size: 14px;font-weight: 600;color: #ef4036;text-align: center;text-decoration: none; display: block;padding: 20px 0px;}
.noti-f .btn-default {color: #fff; font-size: 22px;padding: 0px;}
.noti-f .dropdown-toggle::after{border: none;}
.loader-topbar { border-top: 1px solid #292c40; }
.loader-topbar:hover { background: #ef4036; }
.loader-topbar:hover a { color: #fff; }

.aw-user .btn{border-radius: 4px;width: 40px;height: 40px; overflow: hidden; padding: 0px;}
.aw-user .dropdown-menu{padding: 0px ; min-width: 100%;}
.aw-user .dropdown-item{padding:10px 30px;font-size: 14px;}
.noti-f{padding:0px 20px;}
.create-title{padding: 70px 0px;}
.create-title h4{font-size: 30px;font-weight: 600;color: #f5911b;}
.create-title p{font-size: 16px;font-weight: 500;color: #fff;margin-bottom: 0px;}

.createdashboard{background: #040410;border: 1px solid #8400ff;border-radius: 4px;}
.createdashboard .row{margin-right:0px;margin-left:0px;}
.sidetextbox .nav{display: block;padding-top:2px;border-radius: 0px 0px 10px 10px;}
.sidetextbox .nav li{transition: 0.3s;}
.sidetextbox li a{color:#7a7a81; font-size: 16px;font-weight: 500; text-decoration: none;padding: 15px 20px;margin-left: 3px;display: block;}
.sidetextbox li a:hover{color: #fff;}
.sidetextbox li a.active {color: #fff;font-size: 16px;font-weight: 500;margin-left: 3px;padding: 15px 20px;width: 100%;display: flex;border-right: solid 4px #f5921b;}
.SidemenuBox{border-right: 1px solid #21212e; height: 100%;}
.sidetextbox{padding: 25px 0px;}
.dashTitle h2{color: #fff333;}
.RightContent form{width: 100%;}
.RightContent .form-group textarea{height: 120px;}
.form-group label{font-size: 16px; font-weight: 500;color: #c2c7d1;}

.inner-create-bg{background: linear-gradient(to bottom, transparent, #000), 
    url("../images/inner-tx-bg1.png"); background-repeat: no-repeat;background-repeat: no-repeat;
background-position: top;background-size: cover;height: 100%;width: 100%;padding-top: 90px;}
.createdashboard .row .col-md-9{padding-right: 0px;padding-left: 0px;}
.createdashboard .row .col-md-3{padding-right: 0px;padding-left: 0px;}
.DashboardContent{padding: 35px 35px !important;}
.back-pdd{padding-bottom: 15px;}
.create-pdd90{padding-bottom: 90px;}
.prefa-texts{font-size: 14px;font-weight: 500;color: #fff; text-transform: uppercase;padding-right: 90px;width: 100%;}
.Preferred-box .col-md-12{padding-right: 0px;padding-left: 0px;}
.Preferred-box .col-md-6{padding-right: 0px;padding-left: 0px;}
.Preferred-box{padding-bottom: 15px;}
.locat-pdd{width: 100%;display: flex;}
.locat-pdd .col-md-6{padding-right: 20px;}
.locat-pdd .col-md-6:last-child{padding-right: 0px;}
.cont-line-pdd{border-bottom: 1px solid #21212e;padding-bottom: 25px;margin-bottom: 30px;}
.sche-in{position: relative;}
.sche-in i{position: absolute; font-size: 18px; top:12px; right: 10px; color: #f5921b;}
.inspir-sec p{font-size: 16px; font-weight: 400;color: #c2c7d1;margin-bottom: 0px;padding-bottom: 20px; width: 100%;}

.btn-fil-color [type="file"] {height: 0;overflow: hidden;width: 0;}
.btn-fil-color [type="file"] + label {background: #16161a;border: 1px solid #b5c4dc;border-radius: 5px;color: #fff;cursor: pointer;display: inline-block;font-size: 14px;font-weight: 500;
margin:0px;outline: none;padding: 0px 30px;position: relative;transition: all 0.3s;vertical-align: middle;height: 42px;}
.file-btpdd button{padding: 0px;}
.edit-btn [type="file"] + label {color: #fff;cursor: pointer;display: inline-block;font-size: 14px;font-weight: 500;margin:0px;outline: none;
border-radius: 50%;width: 37px; min-width: 37px;height: 37px; padding:0px;display: flex; justify-content: center; align-items: center;border: none;background: #1c1f2f;}
.Descript-box button{padding: 0px;}
  

.ject-in figure{width: 144px;min-width:144px;height: 145px;border-radius: 5px;border:1px solid #656776;margin-bottom: 0px;overflow: hidden;}
.ject-in figure img{width: 100%; height: 100%;object-fit: cover;object-position: center;}
.ject-in{position: relative;margin-right: 20px;}
.ject-in a{position: absolute; top: 10px;right: 10px;background:#f79622; color: #fff; width: 31px;min-width: 31px;height: 31px;border-radius: 50%;
box-shadow: 1.5px 2.598px 9px 0px rgb( 0, 0, 0 ); display: flex; justify-content: center; align-items: center; text-decoration: none;}
.project-ins{display:flex;}
.file-btpdd{padding-bottom: 15px;}
.project-ass{padding-bottom: 30px;}
.add-new {padding-bottom: 25px;}
.add-new a{font-size: 17px; color: #f5921b;text-decoration: underline;font-weight: 500;}
.review-box{display: flex; justify-content: space-between; align-items: center;padding:20px 35px;border-bottom: 1px solid #21212e;width: 100%;}
.review-btt {display: flex;width: 100%;justify-content: end;}
.review-btt .btn{margin-right: 10px; text-transform: uppercase;font-weight: 500;}
.review-btt .btn:last-child{margin-right:0px;}
.review-box h4{font-size: 20px; font-weight: 500; margin-bottom: 0px;color: #fff;text-transform: uppercase;width: 100%;}
.Descript-box{display:flex; justify-content: space-between; align-items: center;}
.descript-title h5{font-size: 14px; font-weight: 500; color: #fff;}
.descript-title p{font-size: 13px; font-weight: 400; color: #c2c7d1;width: 100%;text-align: justify;}
.ject-dt-title h5 {font-size: 14px; font-weight: 600; color: #fff;}
.ject-dt-title p {font-size: 14px; font-weight: 500; color: #c2c7d1;}
.detass-texts{font-size: 14px;font-weight: 600;color: #909092;text-transform: uppercase;margin-bottom: 0px;padding-bottom: 20px;}
.project-ass .add-new a{font-size: 13px; color: #f5921b;}
.project-ass .add-new p{font-size: 13px; color: #c2c7d1; text-align: justify;}
.project-ass .project-ins{padding-bottom: 20px;}
.pay-in {display: flex;width: 100%;}
.pay-in p{font-size:14px;margin-bottom: 0px !important;padding-bottom: 15px !important;font-weight: 600;position: relative;width:25%;}
.pay-in span{font-size:14px;margin-bottom: 0px !important; color: #c2c7d1 !important; padding-bottom: 15px !important;font-weight: 400;padding-left: 20px !important;width: 100%;}
.pay-in p:after {content: ":"; position: absolute;right: 0;top: 0;}
/* .....create-project-step5 /-/ end..... */

/* .....Terms and Conditions..... */
.inner-main-bg{background-image: linear-gradient(165deg, #030d3d 0%, #020615 65%, #000 100%);border-top: 20px solid #030b2b;padding-top: 90px;}
.main-dashboard{background: #040410;border: 1px solid #2044d2;border-radius: 5px; padding:30px;}
.terms-in h4{font-size: 20px;font-weight: 600;margin-bottom: 0px; color: #f5911b;padding-bottom: 20px;}
.terms-in p{font-size: 14px;font-weight: 400;margin-bottom: 0px; color: #fff;padding-bottom: 20px; text-align: justify;}
.main-title h4{font-size: 24px;font-weight: 600;color: #f5911b;}
.main-title{padding:60px 0px 40px 0px;}
/* .....Terms and Conditions..... */

/* ------ Frequently-Asked-Questions ------- */
.panel-default{padding-bottom: 20px;}
.panel-default>.panel-heading a {display: block; font-size: 16px; color: #fff; text-decoration: none; font-weight: 500; 
    padding: 15px 15px;box-shadow: -0.14px 1.995px 8px 0px rgba(213, 207, 207, 0.13);border: 1px solid #2044d2; 
    border-radius: 3px; position: relative; background: #121420;border-bottom-color: transparent;}
.panel-default > .panel-heading a.collapsed{border-color: #242638; background: #121420;}
.panel-body{background: #121420;border:1px solid rgb( 233, 233, 233 );padding: 20px 15px;position: relative;border: none;border-radius: 0px 0px 5px 5px;padding-top: 0px;}
.panel-body h4{ font-size: 16px; color: #242222;font-weight: 500;margin-bottom: 0px;padding-bottom: 15px;}
.panel-body p{font-size: 14px; color: #fff; margin-bottom: 0px; padding-bottom: 30px; font-weight: 400; text-align: justify;}
.panel-body p:last-child{padding-bottom: 0px;}
.panel-default .panel-title{margin: 0px;}
.panel-title a i{font-size: 18px;color:#fa3c3c; }
.panel-default>.panel-heading a[aria-expanded="true"]:after {content: "\002b";-webkit-transform: rotate(135deg); transform: rotate(135deg); 
color: #fff; position: absolute;top: 0;right: 20px;font-size: 38px;}
.panel-default>.panel-heading a[aria-expanded="false"]:after {content: "\002b";-webkit-transform: rotate(90deg); transform: rotate(90deg); 
color: #fff; position: absolute;top: 0;right: 20px;font-size: 38px;}
.your-contacts{font-size: 18px;font-weight: 500;color: #fff;margin-bottom: 0px;padding: 20px 0px;}
.your-contacts a{font-size: 18px;font-weight: 600;color: #f5911b;margin-bottom: 0px;text-decoration: underline;font-style: italic;}
.panel  .collapse .panel-body{  }
.panel  .collapse.show .panel-body{  }
.panel-body { border: 1px solid #2044d2;position: relative;margin-top: -2px; }
.collapse.show .panel-body { border-top-color: transparent; }
.panel-default>.panel-heading a:hover{border-color: #2044d2;}
.panel-default>.panel-heading a.collapsed:hover{border-color: #2044d2;}
.main-dashboard .panel-default:last-child{padding-bottom: 0px;}
/* ------ Frequently-Asked-Questions ------- */

/* ------ About-us ----//----  Contact-us ------- */
.about-banner{position: relative;display: flex;align-items: center;justify-content: right;height: 100vh;background: url(../images/about-banner.jpg) no-repeat;
background-position-x: 0%;background-position-y: 0%;background-size: auto;background-size: cover;background-position: left top;}
.ab-banner-content {width: 45%;margin-top: 60px;}
.ab-banner-content h1{font-size: 60px;color: #f5911b;font-weight: 700;}
.ab-banner-content p {color: #fff;font-size: 20px;font-weight: 500;max-width: 550px;}
.cretive-works figure{height: 322px;border-radius: 10px; overflow: hidden;margin-bottom: 0px;}
.cretive-works figure img{width: 100%; height: 100%;object-fit: cover;object-position: center;}
.cretive-works p{color: #fff;font-size: 20px;font-weight: 500;text-align: center;margin-bottom: 0px;padding-bottom: 30px;}
.cretive-works p:first-child{padding-bottom: 0px;}
.cretive-works p:last-child{padding-bottom: 0px;}
.cretive-works .row{padding:40px 0px;}
.cretive-works{padding: 75px 0px;}
.contact-fill h4{text-align: center;font-size: 26px;font-weight: 600;color: #fff;}
.contact-fill .form-group label{font-size: 19px;font-weight: 500;color: #c2c7d1;}
.cont-info{padding: 100px 0px;background: #020615;}
.cont-info .align-items-center figure img{min-width: 580px;}
.contact-fill{background: #09091e;padding:40px;border: 1px solid #313146;border-radius: 5px;}
.contact-fill .form-group textarea{height: 140px;}
.contact-fill .text-center .btn{height: 50px;text-transform: uppercase;}
.get-touch{padding: 100px 0px;background: #000001;}
.touch-us{padding-bottom: 35px;max-width: 650px;margin: auto;}
.touch-us h4{font-size: 34px; font-weight: 600; color: #fff;text-align: center;}
.touch-us p{font-size: 16px; font-weight: 400; color: #fff;text-align: center;}
.get-touch-in{background: #09091e;border: 1px solid #313146;border-radius: 5px;padding: 30px 35px;height: 100%;}
.get-touch-in h4{font-size: 24px;font-weight: 600;color: #fff;width: 100%;}
.get-touch-in p{font-size: 13px;font-weight: 400;color: #fff; text-align: justify;width: 100%;}
.get-touch-in a{font-size: 14px;font-weight: 400;color: #f79521;display: block;text-decoration: none;padding-bottom: 10px;}
.get-touch-in figure{margin-bottom: 30px;}
.get-touch-in figure img{max-width: 90px;}
/* ------ About-us ----//----  Contact-us ------- */

/*----notification-page-----*/
.inner-hmain-bg{background-image: linear-gradient(165deg, #030d3d 0%, #020615 65%, #000 100%);padding-top: 90px;}
.fication-box{background: #121420;padding: 20px 30px;border: 2px solid #121420; border-radius: 5px; position: relative;margin-bottom: 15px;}
.fication-box:last-child{margin-bottom: 0px;}
.fication-box p{font-weight: 400;font-size: 16px;color: #fff;margin-bottom: 0px;padding-bottom: 5px;padding-right: 90px;}
.fication-box p span{color: #f5911b;}
.fication-box h6{font-weight: 400;font-size: 14px;color: #a7a6a6;margin-bottom: 0px;font-style: italic;}
.fication-box button{position: absolute;top: 25px;right: 20px;}
/*----notification-page-----*/

/*-----View Payment summary-----*/
.dashboard-editor{background: #040410;border: 1px solid #2044d2;border-radius: 5px;max-width: 706px;margin: auto;}
.btn-blue{background: #0334ff;text-transform: uppercase;}
.btn-blue:hover{color: #fff;}
.editor-sec{max-width: 460px;}
.editor-sec h4{font-size: 18px; font-weight: 500;color: #fff;}
.editor-sec p{font-size: 14px; font-weight: 400;color: #aaaaae;margin-bottom: 0px;}
.v-editor{display: flex;justify-content: space-between;align-items: center;background: #121420;padding: 30px 20px;border-radius: 5px 5px 0px 0px;border-bottom: 1px solid #242638;}
.info-editor-in figure{border-radius: 5px;width: 68px;min-width: 68px;height: 68px;overflow: hidden;margin-bottom: 0px;border: 1px solid #0035ff;}
.info-editor-in{display: flex; align-items: center;background: #121420;border-radius: 4px;border: 1px solid #242638;padding: 20px;}
.info-editor-in figure img{width: 100%; height: 100%;object-fit: cover;object-position: center;}
.info-editor-in figcaption {padding-left: 35px;}
.info-editor-in figcaption h3{font-size: 14px;font-weight: 600;color: #f5911b;}
.info-editor-in figcaption h5{font-size: 20px;font-weight: 600;color: #fff;}
.info-editor{padding: 30px 40px;}
.fill-edit{padding: 20px 0px;background: none;border: none;}
.pay-ins {display: flex;width: 100%;}
.pay-ins p {font-size: 15px;color: #fff; margin-bottom: 0px !important;padding-bottom: 10px !important;font-weight: 600;width: 100%;}
.pay-ins span {font-size: 15px; color: #fff;margin-bottom: 0px !important;color: #c2c7d1 !important;padding-bottom: 10px !important;font-weight: 600;padding-left: 20px !important;
    width: 100%;text-align: right;}
.pen-editor .og-edits{color: #f5911b;text-transform: uppercase;}
.pen-editor h5{font-size: 14px;font-weight: 600;}
.pen-editor-box .pen-editor{padding-bottom: 35px;}
.pen-editor-box button{text-transform: uppercase;}
.fill-edit .input-group-text {padding: .375rem 1.75rem;font-weight: 500; color: #c2c7d1;background-color: #1d1d1e;border: 1px solid #252833;}
.fill-edit .form-control::placeholder{color: #fff;}
.fill-edit select {color: #fff !important;}
/*-----View Payment summary-----*/



/*find freelancer*/
.find_pddh{height: auto !important;}
.box-border-gredit-line { padding: 1px;background-image: linear-gradient(to right, #8400ff 0%, #2c23ff 100%);border-radius: 5px;}
.box-border-gredit { border-radius: 5px;position: relative; padding: 20px;background: #040410; }
.head-title  { padding: 80px 0px; }
.head-title h2 { font-size: 35px;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 300; }
.head-title h2 b { font-weight: 600;color: #f5911b; }
.head-title h3 { font-size: 16px;color: #fff; }
.head-title p { font-size: 14px;color: #a3a9c1; margin-top: 30px;}
.head-title p a { font-weight: 600; }
.tabs-button a { font-size: 15px; text-transform: capitalize; margin-right: 7px;text-decoration: none; border-radius: 5px 5px 0px 0px;background: #121420;display: inline-block;padding: 10px 20px;color: #fff;font-weight: 500; }
.tabs-button a img { width: 30px;margin-right: 20px; }
.tabs-button .ml-auto a:last-child { margin-right: 0px; }
.tabs-button a.active { background-image: linear-gradient(to right, #8400ff 0%, #2c23ff 100%); }
.tabs-button { padding: 0px 15px; }
.freelancers-filter .box-filters-input { display: inline-block; margin-right: 5px;}
.freelancers-filter .box-filters-input select { min-width: 130px; background-position-x: right 8px !important; font-size: 13px !important;background: #121420;border-radius: 5px;border:none;padding: 10px; padding-right: 25px;color: #fff !important;font-weight: 500; }

    /* .....15-may-20...... */
.about-me{background: #121420;border-radius: 4px;border: 1px solid #242638;padding: 20px;}
.Starz-in figure{ width: 144px; min-width: 144px; height: 145px;border-radius: 5px;border:3px solid #656776; overflow:hidden; margin-bottom:15px;}
.Starz-in figure img{width: 100%; height:100%; object-fit: cover; object-position: center;}
.Starz-in{width: 100%;text-align: center;}
.Starz-in h3{font-size: 20px;font-weight: 500;color: #fff;}
.Starz-in h6{font-size: 14px;font-weight: 400;color: #fff;margin-bottom: 0px;padding-bottom: 20px;}
.Starz-box{display: flex;width: 100%;}
.Starz-box figcaption{padding-left: 25px;position: relative;}
.Starz-box figcaption h5{font-size: 14px;font-weight: 600;color: #fff;text-transform: uppercase;}
.Starz-box figcaption p{font-size: 14px;font-weight: 500;color: #fff;}
.clients-pdd{padding:15px 20px;background: #181b2a;border-radius: 6px;position: absolute;bottom: 0;}
.clients-pdd h5{font-size: 14px;font-weight: 500;color: #fff;text-transform: uppercase;}
.clients-pdd h6{font-size: 14px;font-weight: 400;color: #d4d4d4;margin-bottom: 0px;}

.btn-video{border: 2px solid #0334ff; height: 44px;display: flex; align-items: center;padding: 0px 8px;}
.btn-video:hover{color: #fff;}
.btn-video span{ width: 25px; min-width: 25px; height: 25px; margin-right: 10px;  border-radius: 50%; display: flex;justify-content: center; align-items: center;background: #0334ff;}
.btn-video span i{font-size: 12px;}
.starz-bx{display: flex;align-items: center;padding-bottom: 20px;justify-content: end;}
.starz-bx button{margin-right: 10px;}
.starz-bx button:last-child{margin-right: 0px;}
.hand-pcolor{background: #f79622 !important;}

.Portfolio-slide .Portfolio-slider-carousel .item{ width: auto;  height: 136px; overflow: hidden; border-radius: 5px;}
.Portfolio-slide .Portfolio-slider-carousel .item img{width: 100%; height: 100%;object-position: center;object-fit: cover;}
.Portfolio-slide h5{font-size: 14px;font-weight: 600;margin-bottom: 15px;color: #fff;text-transform: uppercase;}
.Portfolio-slider-carousel{position: relative;}                                 /*space-between*/
.owl-nav{position: relative;bottom: 0;width: 100%;display: flex;justify-content:center; ;align-items: center;height: 100%;} /*left: 0;*/
.owl-nav .owl-prev{width: 40px;min-width: 40px; height: 40px; content: "f105"; position: relative; background: #fff;}
/*border-radius: 50%; relative*/
/*find freelancer*/




/*profile*/
.profile-setting { margin: 60px 0px; }
.pro-set-left { -ms-flex: 0 0 270px;flex: 0 0 270px;max-width: 270px;margin-right: 30px; overflow: hidden;}
.pro-set-left,.pro-set-right{ background: #040410;border: 1px solid #3e34e9;border-radius: 5px; }
.pro-set-right { width: 100%; }
.pro-photo-set { padding: 30px; background: #000;border-bottom: 1px solid #3e34e9;text-align: center; }
.pro-photo figure { background-image: linear-gradient(to right, #8400ff 0%, #2c23ff 100%);padding: 3px;border-radius: 5px;width: 100px;height: 100px;margin: 0px auto;margin-bottom: 15px; }
.pro-photo figure div { overflow: hidden; }
.pro-photo figure div img { object-fit: cover;object-position: center;width: 100%;height: 100%; }
.pro-photo-set h6 { color: #fff;font-size: 18px;font-weight: 600;margin-bottom: 0px; }
.pro-photo-set p { margin-bottom: 0;color: #fff; }
.pro-menu ul { padding: 30px 0px; }
.pro-menu ul li { font-size: 15px;font-weight: 600; }
.pro-menu ul li a { padding: 15px;display: block;color: #fff;text-decoration: none; }
.pro-menu ul li a:hover { background: #131339; }
.pro-menu ul li i { width: 35px;color: #f79622; }
.pro-menu ul li a.active { background-image: linear-gradient(to right, #8400ff 0%, #2c23ff 100%); }
.pro-menu ul li a.active i { color: #fff; }
.pro-head-bar { padding: 20px; border-bottom: 1px solid #21212e;margin-bottom: 10px;}
.pro-head-bar h4 { font-size: 18px; text-transform: uppercase;font-weight: 500;color: #fff;margin-bottom: 0px; }
.pro-right-container { padding: 20px; }
.sml-head { font-size: 14px;font-weight: 600;color: #fff;text-transform: uppercase;margin-bottom: 15px; }
.sm-photo .btn { margin-top: 40px;margin-top: 60px;margin-left: 30px;}
.form-group .form-control.textarea-big { height: 100px; }
.modal-comman .modal-content { background: #121420; }
.modal-header h5 { width: 100%;text-align: center;color: #fff; }
.modal-header { border-bottom: 1px solid #212437; }
.modal-dialog { margin-top: 60px; }
.modal-comman .close { position: absolute;top: -37px;right: -31px;font-size: 40px;opacity: 1;color: #fff;text-shadow: none; }
.modal-comman .modal-dialog { min-width: 760px; }
.pro-photo-big { margin: 40px 0px; }
.pro-photo-big figure{ width: 280px;height: 280px; }
.btn-file { position: relative; }
.btn-file input { position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;cursor: pointer; }
.modal-backdrop.show { opacity: 0.8; }
/*profile*/

/*-----dashboard Project-page-----*/
.ject-4{font-size: 24px;margin-bottom: 0px;color: #f5911b;font-weight: 600;padding-bottom: 30px;}
.right-acknow{padding:30px;border-left: 1px solid #21212e;height: 100%;}
.right-acknow ul li{padding-bottom: 25px;}
.right-acknow ul li a{font-size: 16px;font-weight: 500;color: #f5921b;text-decoration: none;}
.right-acknow .form-group{padding-bottom: 30px;}
.right-acknow .prefa-texts{padding-right: 0px;margin-bottom: 0px;padding-bottom:20px;}
.jects-pdd .detass-texts{padding-bottom: 10px !important;}
.project-btn ul li a{color: #fff;display: flex;align-items: center;padding: 15px 30px !important;font-size: 15px;font-weight: 500;
    border-radius: 8px 8px 0px 0px;background: #121420;}
.project-btn ul li a i{padding-right: 20px;}
.project-btn ul li{padding-right: 10px;}
.project-btn ul li a.active{background: linear-gradient(to right, #0035ff, #8400ff 65%);}

.regist-sec{border: double 1px transparent;border-radius: 5px;background-image: linear-gradient(#040410, #040410), linear-gradient(to bottom, #0035ff, #8400ff);
background-origin: border-box;background-clip: content-box, border-box;text-align: center;}
.regist_pdd{padding:100px 0px;text-align: center;}
.regist_pdd h2{font-size: 35px; font-weight: 800;color: #f5911b;margin-bottom: 0px;padding-bottom: 20px;}
.regist_pdd p{font-size: 16px; font-weight: 500;color: #fff;margin-bottom: 0px;padding-bottom:45px;}
.dash-main-pdd{padding:60px 0px;}
/*-----dashboard Project-page-----*/

 /* ........notification-setting........ */
.noti-satings p{font-size: 14px; font-weight: 500; color: #c2c7d1;margin-bottom:0px;padding-right: 90px;
text-align: justify;padding-bottom: 30px;}
.pdd-noti{ display: flex;}
.pdd-noti h4{font-size: 16px; font-weight: 500; color: #c2c7d1;margin-bottom:0px;padding-right: 60px;}
.pdd-noti .custom-switch .custom-control-label::before {border-radius: 1.5rem;top: -5px;width:80px;cursor: pointer;}
.pdd-noti .custom-control-label::before {height: 34px;background-color: #1d1d2e;border: #282b40 solid 1px;}
.pdd-noti .custom-switch .custom-control-label::after {width: calc(1rem - -8px);height: calc(1rem - -8px);background-color: #2b24ff;
    border-radius: 1.5rem;top:0;cursor: pointer;left: calc(-2.25rem + 8px);}
.pdd-noti .custom-control-input:checked ~ .custom-control-label::before {color: #fff;border-color: #2b24ff;background-color: #2b24ff;}
.pdd-noti .custom-switch .custom-control-input:checked ~ .custom-control-label::after {background-color: #fff;-webkit-transform: translateX(.75rem);transform: translateX(2.55rem);}
 /* ........notification-setting........ */

/* .....payment-setting...... */
 .pay-line-bg{background: #121420;border-radius: 4px;border: 1px solid #242638;padding: 20px;}
 .pay-line-bg .d-flex{padding-bottom: 30px;}
 .pay-line-bg .d-flex figure{max-width: 70px;margin-bottom: 0px;}
 .pay-line-bg .d-flex figcaption{padding-left: 20px;width: 100%;}
 .pay-line-bg .d-flex figcaption h1{font-size: 16px;font-weight: 500;color: #fff;}
 .pay-line-bg .d-flex figcaption h6{font-size: 14px;font-weight: 500;color: #fff;margin-bottom: 0px;}
 .btn-green{background: #1b9c3f;text-transform: uppercase;color: #fff;}
 .btn-green:hover{color: #fff;}
 .closeing-btn{background: #1c1f2f;border-radius: 50%;width: 37px;min-width: 37px;height: 37px;display: flex;justify-content: center;align-items: center;padding: 0px;font-size: 16px;}
 .closeing-btn:hover{color: #fff;}
 .card-edit{display: flex;align-items: center;}
 .card-edit .btn-green{margin-left: 20px;}
 .bticons_pay .edit-btn{padding:0px !important;margin-right: 10px;}
 .bticons_pay{display: flex; align-items: center;}
 .payac-pdd .col-md-6{padding-bottom: 25px;}
 .btn-skyb{background: #009cde;min-width: 360px;height: 42px;font-size: 16px;font-style: italic;}
 .btn-skyb i{font-size: 20px;}
 .btn-skyb:hover{color: #fff;}
 .pal-pdd{padding-bottom: 50px;}
 .pal-pdd h4{padding-bottom: 20px;margin-bottom: 0px;}
 .default_pdd{position: relative;}
 .default_pdd .default_in{ position: absolute;top: 20px;right: -12px;}
 .add-card-pdd{padding:30px;}
 /* .....payment-setting...... */
