 .select-operat li {flex: 33.33%;max-width: 33.33%;padding: 15px 15px 15px 15px;}
 .operat-content figure {margin-bottom: 0px;height: 175px;}
.basic_line .text-right .btn-yellow{text-transform: uppercase;}

.editor-tag {
  cursor: text;
  /*padding: 10px 0px 10px 10px;*/
  /*border-radius: 5px;*/
  min-height: 42px;
  max-height: 100%;
  font-size: 14px;
  background:white;
  border: 1px solid #ccc;
}
 .tag-item {
    line-height: 22px;
    border-radius: 14px;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
    display: inline-block;
    background: white;
    color: #7a7a8;
    padding-left: 5px;
    padding-top: 1px;
    border: 1px solid #ccc;
    margin-left: 5px;
}
  .remove-tag {
      padding-right: 5px;
      cursor: pointer;
      font-size: 16px;
  }

 .tag-item:not(:first-child) {
    margin-left: 5px;

  }

.input-tag{
  height: 40px;
  min-width: 300px;
  max-width: 100%;
  margin: auto;
  background: white;
  border: 1px solid #ccc;
  color: black;
  margin: 0;
  padding-left: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 7px
}

figure{
	margin-right: 5px;
}
img{
  height: 150px;
  width: 100%;
  object-fit: fill;
}

.closeing-btn {
	color: yellow;
    position: relative;
    margin-top: -190px;
    left: 85%;
    font-size: 25px;
}
#loader{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 50px;
    left:50%;
    margin-left: 200px;
    animation-name: spinner 0.4s linear infinite;
  -webkit-animation: spinner 0.4s linear  infinite;
  -moz-animation: spinner 0.4s linear  infinite; 
    }
#loader:before{
    position: absolute;
    content:'';
    display: block;
    background-color: rgba(0,0,0,0.2);
    width: 80px;
    height: 80px;
    border-radius: 80px;
    top: -15px;
    left: -15px;
    }
#loader:after{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-top:2px solid white;
    border-bottom:2px solid white;
    border-left:2px solid white;
    border-right:2px solid transparent;
    top: -2px;
    left: -2px;
    margin-left: 200px;
    }

@keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    }

@-webkit-keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    }

@-moz-keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    }


