<!-- inner-wraper -->
     <div class="inner-wraper">
       <div class="about-banner">
        <div class="container-fluid d-flex">
          <div class="ab-banner-content ml-auto ">
           <h1>{{pageData.title?pageData.title:"How it works"}}</h1>
           <p>{{pageData.title_description?pageData.title_description:""}}</p>
          </div>
        </div>
       </div>

	        <!-- Three ways -->
	      <div class="three-ways">
	      	<div class="how_ways">
	      		<p>{{pageData.description1?pageData.description1:""}}</p>
	      	</div>
	        <div class="heading-title big-heading-title text-center">
	          <h4>Three Ways to Hire Amazing Talent</h4>
	          <img src="assets/images/saprator.svg" class="saprator">
	        </div>
	        <div class="three-ways-in">
	          <div class="row justify-content-center align-items-center">
	            <div class="col-md-6">
	              <article>
	                <div class="heading-title pl-5">
	                  <h4>Search on Your Own</h4>
	                  <p>Get instant free access to thousands of freelancers locally and around the world.</p>
	                </div>
	                <figure>
	                  <img src="assets/images/desk.png">
	                </figure>
	              </article>
	            </div>
	            <div class="col-md-6"> 
	              <article>
	                <ul class="search-on-list">
	                  <li>
	                    <h4>Do a detailed search of our vetted, top tier creatives.</h4>
	                  </li>
	                  <li>
	                    <h4>Interview your favorites candidates and hire the best match.</h4>
	                  </li>
	                  <li>
	                    <h4>Collaborate with creatives in-house or remotely, project-to-project or staff</h4>
	                  </li>
	                  <li>
	                    <h4>Kaleide handles the payment process and lets you focus on your next period.</h4>
	                  </li>
	                </ul>
	              </article>
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- Three ways -->

	      <!-- post-job-home -->
	      <div class="post-job-home">
	        <div class="container">
	          <div class="heading-title text-center">
	            <h4>Post Your Job Listing</h4>
	            <p>Sit back and relax as highly qualified candidates come to you.</p>
	          </div>
	          <div class="post-job-home-in">
	            <div class="row">
	              <div class="col-md-6">
	                <figure>
	                  <img src="assets/images/post1.jpg">
	                </figure>
	              </div>
	              <div class="col-md-6">
	                <figure>
	                  <img src="assets/images/post2.jpg">
	                </figure>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- post-job-home -->

	      <!-- tell-us-home -->
	      <div class="tell-us-home">
	        <div class="container">
	          <div class="row">
	            <div class="col-md-7">
	              <figure class="m-0">
	                <img src="assets/images/mobile.png">
	              </figure>
	            </div>
	            <div class="col-md-5 d-flex align-items-center">
	              <article>
	                <div class="heading-title m-0">
	                  <h4>Or Tell Us About<br> Your Needs</h4>
	                  <p>And a video production expert will curate a list of professionals perfectly matched for your project.</p>
	                </div>
	              </article>
	            </div>
	          </div>
	        </div>
	        <div class="linng_how">
	          <div class="how_ways">
	      		<p>{{pageData.description1?pageData.description1:""}}</p>
	      	  </div>
	      	</div>
	      </div>
	      <!-- tell-us-home -->
     </div>
     <!-- inner-wraper -->