<app-admin-header [user]="user" [globalSettings]="globalSettings"></app-admin-header>
<app-admin-sidebar [user]="user" [globalSettings]="globalSettings"></app-admin-sidebar>

<div class="content-wrapper">
	<section class="content-header">
		<h1>
			{{pageTitle}} List
		</h1>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-body">
						<a class="btn btn-success" routerLink="/admin/{{pageSlug}}/create" >
							Create {{pageTitle}}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h4>Search</h4>
					</div>
					<div class="box-body">
						<form #searchForm="ngForm" (ngSubmit)="!searchForm.invalid && getRecords(1)">
							<div class="col-lg-3 col-md-6 col-xs-12">
								<label>Name</label>
								<input type="text" [(ngModel)]="searchData" #name="ngModel" name="name" id="name" placeholder="Enter Name" class="form-control" minlength="1">
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<label>Email</label>
								<input type="text" [(ngModel)]="searchData.email" #email="ngModel" name="email" id="email" placeholder="Enter Email" class="form-control" minlength="1">
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<label>&nbsp;</label>
								<button type="submit" class="btn btn-primary form-control">Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<!-- /.box-header -->
					<div class="box-body">
						<table id="listind_table" class="table table-bordered table-hover datatable cell-border compact stripe hover">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Image</th>
									<th>Name</th>
									<th>Email</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let record of data.records;index as i;">
									<td>{{((page-1)*perPage)+i+1}}.</td>
									<td>
										<img *ngIf="record.image" class="profile-user-img img-responsive img-circle" src="{{data.base_image_url}}{{record.image}}" alt="User profile picture" style="height:50px;width: 50px;">
										<img *ngIf="!record.image" class="profile-user-img img-responsive img-circle" src="{{data.dummy_image_url}}" alt="User profile picture" style="height:50px;width: 50px;">
									</td>
									<td>{{ (record.name)? record.name : "N/A" }}</td>
									<td>{{record.email}}</td>
									<td>
										<button *ngIf="record.status===0" (click)="StatusUpdate(record._id,i,1)" type="button"
											class="btn btn-danger">Inactive</button>
										<button *ngIf="record.status===1" (click)="StatusUpdate(record._id,i,0)" type="button"
											class="btn btn-info">Active</button>
									</td>
									<td>
										<a href="javascript:void(0)" class="btn btn-primary"
											routerLink="/admin/{{pageSlug}}/edit/{{record._id}}">Edit</a>
										&nbsp;
										<a href="javascript:void(0)" class="btn btn-danger"
											(click)="deleteRecord(record._id,i)">Delete</a>
										&nbsp;
										<a type="button" class="btn btn-info" routerLink="/admin/{{pageSlug}}/view/{{record._id}}">View</a>
									</td>
                </tr>
                <tr *ngIf="!data.records">
                  <td colspan="100%">
                    <h1 class="text-center">No {{pageTitle}} Found</h1>
                  </td>
                </tr>
							</tbody>
						</table>
					</div>
					<div class="box-footer clearfix">
						<ul class="pagination pagination-sm no-margin pull-right" *ngIf="totalPages > 1">
							<li *ngIf="page > 1"><a href="javascript:;" (click)="getRecords(1)"><<</a></li>
							<li *ngIf="page > 1"><a href="javascript:;" (click)="getRecords(page-1)">&laquo;</a></li>
							<li *ngIf="pagination.length > perPage && page > 2"><a href="javascript:;">...</a></li>
							<li *ngFor="let n of pagination;" [class.active]="n==page"><a *ngIf="n==page-1 || n==page || n==page+1" href="javascript:;" (click)="getRecords(n)" >{{n}}</a></li>
							<li *ngIf="pagination.length > perPage && (page+1) < pagination.length"><a href="javascript:;">...</a></li>
							<li *ngIf="page < totalPages"><a href="javascript:;" (click)="getRecords(page+1)">&raquo;</a></li>
							<li *ngIf="page < totalPages"><a href="javascript:;" (click)="getRecords(pagination.length)">>></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<app-admin-footer [globalSettings]="globalSettings"></app-admin-footer>
