<div class="login-box">
  <div class="login-logo">
    <a routerLink="/admin"
      ><img src="assets/admin/images/logo.png" style="height: 100px;"
    /></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Enter your email to reset password</p>
    <form
      #loginForm="ngForm"
      (ngSubmit)="!loginForm.invalid && submit(loginForm.value)"
    >
      <div class="form-group has-feedback">
        <input
          type="text"
          [(ngModel)]="loginUser.email"
          #email_is="ngModel"
          placeholder="Enter Email"
          name="email"
          required
          email="true"
          class="form-control"
        />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div
          *ngIf="
            (email_is.invalid && (email_is.dirty || email_is.touched)) ||
            loginForm.submitted
          "
        >
          <span class="error text-danger" *ngIf="email_is.hasError('required')"
            >Email is required</span
          >
          <span class="error text-danger" *ngIf="email_is.hasError('email')"
            >Email format is not correct</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          Back to <a routerLink="/admin/login">Login</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">
            Submit
          </button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
