<div class="register-box">
  <div class="register-logo">
    <a routerLink="/admin"
      ><img src="assets/admin/images/logo.png" style="height: 100px;"
    /></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Reset your password</p>

    <form
      #registerForm="ngForm"
      (ngSubmit)="!registerForm.invalid && submit(registerForm.value)"
    >
      <div class="form-group has-feedback">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="resetUser.password"
          name="password"
          #password="ngModel"
          required
          minlength="6"
        />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div
          *ngIf="
            (password.invalid && (password.dirty || password.touched)) ||
            registerForm.submitted
          "
        >
          <span class="error text-danger" *ngIf="password.hasError('required')"
            >Password is required</span
          >
          <span class="error text-danger" *ngIf="password.hasError('minlength')"
            >Password should be at least 6 characters long</span
          >
        </div>
      </div>
      <div class="form-group has-feedback">
        <input
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          [(ngModel)]="resetUser.confirm_password"
          name="confirm_password"
          #confirm_password="ngModel"
          required
          minlength="6"
        />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div
          *ngIf="
            (confirm_password.invalid &&
              (confirm_password.dirty || confirm_password.touched)) ||
            registerForm.submitted
          "
        >
          <span
            class="error text-danger"
            *ngIf="confirm_password.hasError('required')"
            >Confirm Password is required</span
          >
          <span
            class="error text-danger"
            *ngIf="confirm_password.hasError('minlength')"
            >Confirm Password should be at least 6 characters long</span
          >
          <span
            class="error text-danger"
            *ngIf="
              !confirm_password.hasError('required') &&
              !confirm_password.hasError('minlength') &&
              registerForm.value.password !==
                registerForm.value.confirm_password
            "
            >Passwords don't match.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">
            Reset
          </button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
