<div class="process-form d-flex justify-content-center align-items-center">
  <div class="process-form-in">
    <div class="form-logo text-center">
      <a href="javascript:;" (click)="goToHome()">
        <img src="assets/images/logo.svg" />
      </a>
    </div>
    <div class="form-text text-center">
      <h4>Reset your password</h4>
    </div>
    <div class="login-form">
      <form [formGroup]="formData">
        <div class="form-group">
          <input
            type="password"
            name=""
            class="form-control"
            placeholder="Enter new password"
            formControlName="password"
          />
          <div
            *ngIf="
              formData.controls['password'].invalid &&
              (formData.controls['password'].dirty ||
                formData.controls['password'].touched ||
                this.formSubmitAttempt)
            "
          >
            <span
              class="error text-danger"
              *ngIf="formData.controls['password'].errors.required"
              >Password is required</span
            >
            <span
              class="error text-danger"
              *ngIf="formData.controls['password'].errors.minlength"
              >Password must be between 8-12 characters</span
            >
            <span
              class="error text-danger"
              *ngIf="formData.controls['password'].errors.maxlength"
              >Password must be between 8-12 characters</span
            >
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password "
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              !formData.controls['confirmPassword'].untouched ||
              this.formSubmitAttempt ||
              !formData.controls['confirmPassword'].untouched
            "
          >
            <span
              class="error text-danger"
              *ngIf="
                formData.controls['confirmPassword'].errors &&
                formData.controls['confirmPassword'].errors.required
              "
              >Confirm password is required</span
            >
            <span
              class="error text-danger"
              *ngIf="
                !(
                  formData.controls['confirmPassword'].errors &&
                  formData.controls['confirmPassword'].errors.required
                ) &&
                formData.errors &&
                formData.errors != null &&
                formData.errors.passwordsNotEqual
              "
              >Password and password confirmation must match</span
            >
          </div>
        </div>
        <button class="btn btn-orange w-100" (click)="submit(formData.value)">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
