<!-- Modal view profile  -->
<div class="modal-comman">
  <div class="modal-dialog modal-dialog2" role="document">
    <div class="modal-content profile_pdd" style="margin-top: 90px;">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" id="profile-video-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="postbox-pdd">
          <div class="row">
            <div class="col-md-4 pdd_adnotes">
              <button
                class="btn btn-green mb-2"
                (click)="openAddNoteModel(); OpenModal(template3, null)"
              >
                Add Notes
              </button>
              <button class="btn btn-green">
                Message
              </button>
            </div>
            <div class="col-md-4">
              <div class="profile-set">
                <div class="pro-photo">
                  <figure>
                    <div>
                      <img src="assets/images/user-editor.png" />
                    </div>
                  </figure>
                </div>
                <h6>
                  {{
                    (selectedUser.first_name ? selectedUser.first_name : "") +
                      " " +
                      (selectedUser.last_name ? selectedUser.last_name : "")
                  }}
                </h6>
                <p>
                  {{ selectedUser.city }},{{ selectedUser.state }},
                  {{ selectedUser.country }}
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="notes-list">
                <button
                  class="btn btn-fil-color closeing-btn"
                  (click)="copyToClipboard()"
                >
                  <i class="fas fa-share-alt share-icon"></i>
                </button>
                <button
                  class="btn btn-fil-color closeing-btn"
                  (click)="
                    openModal(
                      'profile-video-close',
                      'open-add-favvoutite-model'
                    )
                  "
                >
                  <i class="fas fa-thumbs-up"></i>
                </button>
                <button
                  class="btn btn-fil-color closeing-btn"
                  (click)="hideFreelancer(selectedUser._id)"
                >
                  <i class="fas fa-low-vision"></i>
                </button>
              </div>
              <button
                class="btn btn-video"
                (click)="OpenModal(template4, null)"
              >
                <span><i class="fas fa-play"></i></span>Profile Video
              </button>
            </div>
          </div>
          <p class="client-boxi">{{ selectedUser.aboutme }}</p>
          <div class="client-box">
            <h3 class="title_clinent">Previous Clients</h3>
            <h6>
              {{
                selectedUser.pastClient && selectedUser.pastClient.length > 0
                  ? tranformPatClient(selectedUser.pastClient)
                  : "NA"
              }}
            </h6>
          </div>
        </div>
        <div class="postbox-pdd">
          <h3 class="title_clinent line_sky">Portfolio</h3>
          <div class="Portfolio_view">
            <div class="freelancers-filter">
              <div class="box-filters-input">
                <select (change)="changePortFoliFilter($event, 'projectType')">
                  <option value="">Project Type</option>
                  <option
                    *ngFor="let option of projectType"
                    [value]="option.value"
                    >{{ option.name }}</option
                  >
                </select>
              </div>
              <div class="box-filters-input">
                <select (change)="changePortFoliFilter($event, 'industryType')">
                  <option value="">Industry Type</option>
                  <option
                    *ngFor="let option of industryType"
                    [value]="option.value"
                    >{{ option.name }}</option
                  >
                </select>
              </div>
              <div class="box-filters-input">
                <select (change)="changePortFoliFilter($event, 'genereType')">
                  <option value="">Genere</option>
                  <option
                    *ngFor="let option of genereType"
                    [value]="option.value"
                    >{{ option.name }}</option
                  >
                </select>
              </div>
            </div>
            <ul class="select-operat d-flex">
              <li *ngFor="let portfolio of originalSelectedUser">
                <a
                  href="javascript:;"
                  (click)="OpenModal(template5, null, portfolio)"
                >
                  <div class="operat-content">
                    <figure>
                      <img src="{{ portfolio.thumb_image }}" />
                    </figure>
                    <!-- <button class="btn btn-play"><i class="fas fa-play"></i></button> -->
                  </div>
                </a>
              </li>
            </ul>
            <div
              class="item"
              *ngIf="originalSelectedUser.length == 0"
              style="color: white;"
            >
              Portfolio Not Found
            </div>
          </div>
        </div>
        <div class="postbox-pdd">
          <h3 class="title_clinent line_sky">EXPERIENCE</h3>
          <div class="marke_box">
            <h4>Marketing Communications Specialist</h4>
            <p>Freelance Marketing and Creative Services * Freelance</p>
            <p>Sep 2019 - Present</p>
            <p>Indianapolis, IN</p>
            <p>
              Produced television, radio, digital and photography projects for
              one of the top US advertising agencies.Managed entire process from
              budget estimates through invoicing for clients including The
              Hoosier Lottery and Chinet. Handled media traffic instructions,
              distribution and monitoring.
            </p>
          </div>
          <div class="marke_box">
            <h4>Content Creator</h4>
            <p>Mortenson Kim * Full-time</p>
            <p>Aug 2015 - Feb 2018</p>
            <p>Indianapolis, IN</p>
            <p>
              Produced and managed all video, radio, social and photography
              projects for agency clients including The Hoosier Lottery, Roche
              Diabetes Care and Michelob Golden Light. Maintained and executed
              all production schedules, budgets and invoicing. Oversaw graphic
              designer/motion animator.
            </p>
          </div>
          <div class="marke_box">
            <h4>Producer</h4>
            <p>WFYI * Freelance</p>
            <p>Jul 2013 - Aug 2015</p>
            <p>Indianapolis, IN</p>
            <p>
              Project based producer for in-house and external production
              clients with WFYI. Handled interviews,script writing, field
              producing and overseeing edits.
            </p>
          </div>
        </div>
        <div class="postbox-pdd">
          <h3 class="title_clinent line_ex">Project Reviews</h3>
          <div class="marke_box">
            <h5>Tamara Holder</h5>
            <h6>Senior writer/Producer at BNB Networks</h6>
            <p>
              Project based producer for in-house and external production
              clients with WFYI. Handled interviews,script writing, field
              producing and overseeing edits.
            </p>
          </div>
          <div class="marke_box">
            <h5>Lissa Watson</h5>
            <h6>Senior writer/Producer at BNB Networks</h6>
            <p>
              Project based producer for in-house and external production
              clients with WFYI. Handled interviews,script writing, field
              producing and overseeing edits.
            </p>
          </div>
        </div>
        <div class="postbox-pdd">
          <h3 class="title_clinent line_reco">recommendations</h3>
          <ng-container
            *ngIf="
              selectedUser.recommendations &&
              selectedUser.recommendations.length > 0
            "
          >
            <div
              class="marke_box"
              *ngFor="let recommendation of selectedUser.recommendations"
            >
              <h5>
                {{
                  recommendation.reference_name
                    ? recommendation.reference_name
                    : "NA"
                }}
              </h5>
              <h6>
                {{ recommendation.positions ? recommendation.positions : "NA" }}
              </h6>
              <p>
                {{
                  recommendation.recommendation_text
                    ? recommendation.recommendation_text
                    : "NA"
                }}
              </p>
            </div>
          </ng-container>
          <div
            class="item"
            *ngIf="
              !selectedUser.recommendations ||
              selectedUser.recommendations.length == 0
            "
            style="color: white;"
          >
            No Recommendations found
          </div>
        </div>
        <div class="postbox-pdd last_light">
          <h3 class="title_clinent line_avail">PRIMARY SKILLS</h3>
          <p *ngIf="selectedUser.skills && selectedUser.skills[0]">
            {{
              getMultipleNameByValue(
                primarySkill,
                selectedUser.skills[0].primary_skills
              )
            }}
          </p>

          <h3 class="title_clinent line_skil">SECONDARY SKILLS</h3>
          <p *ngIf="selectedUser.skills && selectedUser.skills[0]">
            {{
              getMultipleNameByValue(
                secondarySkill,
                selectedUser.skills[0].secondary_skills
              )
            }}
          </p>

          <ng-container *ngIf="selectedUser.freelancer_type == 1">
            <h3 class="title_clinent line_avail">GRAPHIC SPECIALITIES</h3>
            <p *ngIf="selectedUser.skills && selectedUser.skills[0]">
              {{
                getMultipleNameByValue(
                  graphicSpecialties,
                  selectedUser.skills[0].graphic_specialities
                )
              }}
            </p>
          </ng-container>

          <ng-container *ngIf="selectedUser.freelancer_type == 2">
            <h3 class="title_clinent line_skil">EDITING STYLES</h3>
            <p *ngIf="selectedUser.skills && selectedUser.skills[0]">
              {{
                getMultipleNameByValue(
                  editingStyle,
                  selectedUser.skills[0].editing_style
                )
              }}
            </p>
          </ng-container>

          <h3 class="title_clinent line_avail">AVAILABILITY</h3>
          <p>{{ availabilityName(selectedUser.availability) }}</p>

          <h3 class="title_clinent line_skil">AWARDS</h3>
          <p *ngIf="selectedUser.skills && selectedUser.skills[0]">
            {{ getMultipleNameByValue(awards, selectedUser.skills[0].awards) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal view profile -->

<!-- Modal video module-->
<div
  class="modal fade modal-comman"
  id="video-module"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content profile_pdd">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="video-module-close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="yt_video">
          <iframe
            id="v1"
            allowfullscreen=""
            frameborder="0"
            src="https://player.vimeo.com/video/56282283"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal video module-->

<!-- Modal add note -->
<div
  class="modal fade modal-comman"
  id="add-freelancer-note"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content profile_pdd">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="add-note-close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="create-text">
          <div class="create-box">
            <h6>
              Add note about<span>
                {{
                  (selectedUser.first_name ? selectedUser.first_name : "") +
                    " " +
                    (selectedUser.last_name ? selectedUser.last_name : "")
                }}</span
              >
            </h6>
          </div>
          <form
            class="form-horizontal"
            #aboutUsUpdateFormData3="ngForm"
            (ngSubmit)="
              !aboutUsUpdateFormData3.invalid &&
                addNoteToFavourite(aboutUsUpdateFormData3.value)
            "
          >
            <div class="form-group">
              <textarea
                class="form-control textarea-big"
                [(ngModel)]="formBody.freelancer_note"
                name="title_descrition"
                id="title_descrition2"
                #title_descrition2="ngModel"
                maxlength="500"
                minlength="3"
                required
              ></textarea>
              <div
                *ngIf="
                  (title_descrition2.invalid &&
                    (title_descrition2.dirty || title_descrition2.touched)) ||
                  aboutUsUpdateFormData3.submitted
                "
              >
                <span
                  class="error text-danger"
                  *ngIf="title_descrition2.hasError('required')"
                >
                  Note is required</span
                >
                <span
                  class="error text-danger"
                  *ngIf="title_descrition2.hasError('maxlength')"
                >
                  Note should not exceed 1000 characters</span
                >
                <span
                  class="error text-danger"
                  *ngIf="title_descrition2.hasError('minlength')"
                >
                  Note should be more than 3 characters long</span
                >
              </div>
            </div>
            <div class="ct-linebt">
              <button class="btn btn-orange" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal add to favorites -->

<!-- Modal add to favorites -->
<div
  class="modal fade modal-comman"
  id="add-favorites"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content profile_pdd">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="add-favorites-close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="create-info">
          <div class="create-box">
            <h6>
              Save
              <span>{{
                (selectedUser.first_name ? selectedUser.first_name : "") +
                  " " +
                  (selectedUser.last_name ? selectedUser.last_name : "")
              }}</span>
              To
            </h6>
            <a
              href="javascript:;"
              class="acc-tit collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#create-new"
              aria-expanded="false"
              aria-controls="company-details"
              >Create new list</a
            >
          </div>
          <div class="collapse" id="create-new">
            <div class="in_uplodfavpdd">
              <div class="in_uplodfav">
                <h5>New List Name</h5>
                <form
                  class="form-horizontal"
                  #aboutUsUpdateFormData="ngForm"
                  (ngSubmit)="
                    !aboutUsUpdateFormData.invalid &&
                      addFavoutiteFolder(aboutUsUpdateFormData.value)
                  "
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Title"
                      [(ngModel)]="formBody.title"
                      name="title"
                      id="title"
                      #title="ngModel"
                      required
                      minlength="3"
                      maxlength="55"
                    />
                    <div
                      *ngIf="
                        (title.invalid && (title.dirty || title.touched)) ||
                        aboutUsUpdateFormData.submitted
                      "
                    >
                      <span
                        class="error text-danger"
                        *ngIf="title.hasError('required')"
                      >
                        Title is required</span
                      >
                      <span
                        class="error text-danger"
                        *ngIf="title.hasError('minlength')"
                      >
                        Title should not be atleast 3 characters long</span
                      >
                      <span
                        class="error text-danger"
                        *ngIf="title.hasError('maxlength')"
                      >
                        Title should not exceed 55 characters</span
                      >
                    </div>
                  </div>

                  <h6>Upload cover photo</h6>
                  <div class="d-flex justify-content-between">
                    <div
                      class="file-btpdd"
                      style="display: flex; flex-direction: row;"
                    >
                      <button
                        class="btn btn-fil-color"
                        type="button"
                        style="width: 200px;"
                      >
                        <input
                          type="file"
                          id="file"
                          name="image"
                          accept=".png, .jpg, .jpeg"
                          (change)="uploadFile($event)"
                        />
                        <label for="file">choose file</label>
                      </button>
                      <figure
                        class="m-0"
                        [hidden]="!this.formBody['profileImage']"
                        style="border-radius: 50%;"
                      >
                        <div>
                          <img
                            id="profile-image"
                            [src]="this.formBody['profileImage']"
                            style="
                              height: 95px;
                              width: 95px;
                              object-fit: cover;
                              border-radius: 50%;
                              margin-top: -20px;
                            "
                          />
                        </div>
                      </figure>
                    </div>

                    <button class="btn btn-blue" type="submit">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <ul>
            <li *ngFor="let list of favouriteFolder">
              <a href="javadcript:;" (click)="formBody.listId = list._id"
                >{{ list?.name
                }}<i
                  class="fas fa-thumbs-up"
                  [ngStyle]="{
                    color: formBody.listId == list._id ? 'blue' : ''
                  }"
                ></i
              ></a>
            </li>

            <div
              *ngIf="!formBody.listId && aboutUsUpdateFormData2.submitted"
              style="margin: 0px 10px 20px 20px;"
            >
              <span class="error text-danger" *ngIf="!formBody.listId">
                This field is required. please select a list</span
              >
            </div>
          </ul>
        </div>
        <div class="create-text">
          <div class="create-box">
            <h6>
              Add note about<span>
                {{
                  (selectedUser.first_name ? selectedUser.first_name : "") +
                    " " +
                    (selectedUser.last_name ? selectedUser.last_name : "")
                }}</span
              >
            </h6>
          </div>
          <form
            class="form-horizontal"
            #aboutUsUpdateFormData2="ngForm"
            (ngSubmit)="
              !aboutUsUpdateFormData2.invalid &&
                addFreelancerToFavourite(aboutUsUpdateFormData2.value)
            "
          >
            <div class="form-group">
              <textarea
                class="form-control textarea-big"
                [(ngModel)]="formBody.notes"
                name="title_descrition"
                id="title_descrition"
                #title_descrition="ngModel"
                maxlength="500"
                minlength="3"
                required
              ></textarea>
              <div
                *ngIf="
                  (title_descrition.invalid &&
                    (title_descrition.dirty || title_descrition.touched)) ||
                  aboutUsUpdateFormData2.submitted
                "
              >
                <span
                  class="error text-danger"
                  *ngIf="title_descrition.hasError('required')"
                >
                  Note is required</span
                >
                <span
                  class="error text-danger"
                  *ngIf="title_descrition.hasError('maxlength')"
                >
                  Note should not exceed 1000 characters</span
                >
                <span
                  class="error text-danger"
                  *ngIf="title_descrition.hasError('minlength')"
                >
                  Note should be more than 3 characters long</span
                >
              </div>
            </div>
            <div class="ct-linebt">
              <button class="btn btn-orange" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal add to favorites -->

<button
  class="btn btn-fil-color closeing-btn"
  data-toggle="modal"
  [hidden]="true"
  data-target="#profile-video"
>
  <i class="fas fa-id-badge"></i>
</button>
<button
  class="btn btn-fil-color closeing-btn hand-pcolor"
  data-toggle="modal"
  [hidden]="true"
  data-target="#add-favorites"
  id="open-add-favvoutite-model"
>
  <i class="fas fa-thumbs-up"></i>
</button>

<!-- Modal add note -->
<ng-template #template3>
  <div class="modal-content profile_pdd">
    <div class="modal-header">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        id="add-note-close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="create-text">
        <div class="create-box">
          <h6>
            Add note about<span>
              {{
                (selectedUser.first_name ? selectedUser.first_name : "") +
                  " " +
                  (selectedUser.last_name ? selectedUser.last_name : "")
              }}</span
            >
          </h6>
        </div>
        <form
          class="form-horizontal"
          #aboutUsUpdateFormData3="ngForm"
          (ngSubmit)="
            !aboutUsUpdateFormData3.invalid &&
              addNoteToFavourite(aboutUsUpdateFormData3.value)
          "
        >
          <div class="form-group">
            <textarea
              class="form-control textarea-big"
              [(ngModel)]="formBody.freelancer_note"
              name="title_descrition"
              id="title_descrition2"
              #title_descrition2="ngModel"
              maxlength="500"
              minlength="3"
              required
            ></textarea>
            <div
              *ngIf="
                (title_descrition2.invalid &&
                  (title_descrition2.dirty || title_descrition2.touched)) ||
                aboutUsUpdateFormData3.submitted
              "
            >
              <span
                class="error text-danger"
                *ngIf="title_descrition2.hasError('required')"
              >
                Note is required</span
              >
              <span
                class="error text-danger"
                *ngIf="title_descrition2.hasError('maxlength')"
              >
                Note should not exceed 1000 characters</span
              >
              <span
                class="error text-danger"
                *ngIf="title_descrition2.hasError('minlength')"
              >
                Note should be more than 3 characters long</span
              >
            </div>
          </div>
          <div class="ct-linebt">
            <button class="btn btn-orange" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal add to favorites -->

<!-- Modal video module-->
<ng-template #template4>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      id="video-module-close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="yt_video">
      <iframe
        id="v1"
        allowfullscreen=""
        frameborder="0"
        src="https://player.vimeo.com/video/56282283"
      ></iframe>
    </div>
  </div>
</ng-template>
<!-- Modal video module-->

<ng-template #template5>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      id="video-module-close2"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="yt_video">
      <iframe
        id="v2"
        allowfullscreen=""
        frameborder="0"
        [src]="selectedPortfolio"
      ></iframe>
    </div>
  </div>
</ng-template>
<!-- Modal video module-->
