<div class="inner-wraper inner-hmain-bg">
    <div class="container">
      <div class="profile-setting d-flex">
        <app-freelancer-side-menu style="width:30%"></app-freelancer-side-menu>
        <div class="pro-set-right ml-auto">
          <div class="pro-head-bar">
            <h4>Payment setting</h4>
          </div>
          <div class="pro-right-container row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Bank Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Bank Code</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Branch location</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Branch Code</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Account Number</label>
                <input type="text" class="form-control">
              </div>
              <button class="btn btn-orange">UPDATE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>