<div class="inner-wraper inner-main-bg">
    <div class="container">
        <div class="main-title">
            <h4>Frequently Asked Questions</h4>
        </div>
        <div class="create-pdd90">
            <div class="main-dashboard">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-default" *ngFor="let faq of pageData.terms;let i=index">
                        <div class="panel-heading" role="tab" id="heading{{ i }}" (click)="generateFaq('collapses' + i, faq.answer)">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}" aria-expanded="false" attr.aria-controls="collapse{{i}}">
                      {{faq.question}}
                  </a>
                            </h4>
                        </div>
                        <div id="collapse{{i}}" class="panel-collapse collapse in" role="tabpanel" attr.aria-labelledby="heading{{i}}" data-parent="#accordion">
                            <div class="panel-body">
                               <div id="collapses{{ i }}" class="faq-answer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="your-contacts">You can <a href="javascript:;">Contact us.</a> if you would like to ask us any further questions’</p>
        </div>
    </div>

</div>