<div class="inner-wraper inner-create-bg">
  <div class="container">
    <div class="create-title">
      <h4>Setup Your Profile</h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
    <div class="create-pdd90">
      <div class="createdashboard">
        <div class="row">
          <app-profile-setup-side-menu
            class="col-md-3"
          ></app-profile-setup-side-menu>
          <div class="col-md-9 DashboardContent">
            <div class="RightContent">
              <div class="get-start">
                <h5>Welcome to kaleide!</h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <a
                  href="javascript:;"
                  [routerLink]="['/user/freelancer/set-up/1']"
                  >Let’s Get Started!</a
                >
                <div class="text-right">
                  <button
                    href="javascript:;"
                    class="btn btn-orange"
                    [routerLink]="['/user/freelancer/set-up/1']"
                  >
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
